.team-page {
  position: relative;
  top: 15vh;
  text-align: center;
  padding: 20px;
  background-color: #37332d83;
  height: 100%;
}

.page-title {
  font-size: 2vw;
  margin-bottom: 30px;
  color: #ffffff;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  grid-gap: 3%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  font-size: 1vw;
  color: #000000;
  padding-bottom: 10%;
}

.member-name {
  font-size: 1.5vw !important;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.member-role {
  font-weight: bold;
  margin-bottom: 5px;
}

.member-intro {
  color: #4b4b4b;
  margin-bottom: 5px;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
}

.member-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
