/* COMMON */
.Main {
  margin: 0;
  padding: 0;
  font-size: 1vh;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style-type: none;
}

header {
  background-color: #ea5514;
  border-bottom: 1px solid #ea5514;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;
  z-index: 2;
  transition: 0.2s;
}

.height {
  background-color: #ea5514;
  border-bottom: 1px solid #ea5514;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  z-index: 2;
  transition: 0.2s;
}

/* Header */

header .header__contents {
  font-size: 4vh;
  width: 60%;
  height: 15vh;
  position: absolute;
  right: 25%;
  display: flex;
  align-items: center;
  font-weight: 700;
  z-index: 4;
  transition: 0.2s;
}

header .hdCharacter {
  font-size: 2vh;
  width: 60%;
  height: 5vh;
  position: absolute;
  right: 25%;
  display: flex;
  align-items: center;
  font-weight: 700;
  z-index: 4;
  margin-top: 0;
  padding-top: 0;
  justify-content: center;
  transition: 0.2s;
}

header .header__contents .header__contents__detail {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 7px;
  display: block;
  height: 25px;
  font-size: 12px;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  color: #fff;
}

.eventBtn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 7px;
  display: block;
  height: 40px;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}

strong {
  font-size: 15px;
}

header .btnOutline {
  position: absolute;
  height: 100%;
}

.hamburger {
  cursor:pointer;
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 4vw;
}

.close {
  cursor: pointer;
  height: 5vh;
  width: 5vh;
  position: absolute;
}

#menuClBtn {
  width: 6vw;
  cursor: pointer;
  height: 6vw;
  padding-top: 5vh;
  padding-left: 4vw;
}

/* MENU */

.project-menu {
  margin-top: 0;
  padding-left: 0;
  height: 100vh;
  width: 26vh;
  background-color: #ea5514;
  z-index: 3;
  position: fixed;
  font-size: 25px;
  line-height: 1.5;
  display: none;
  top: 0;
  text-align: left;
}

.project-menu .menu__contents .menu__ul .menu {
  font-size: 3vh;
  color: #ffffff;
}

.project-menu .menu__contents .menu__ul .menu__li {
  padding: 3vh 0;
  font-size: 2vh;
  color: #ffffff;
}

.project-menu .menu__contents .menu__ul .menu__li:hover {
  font-weight: 700;
}

.menuBtn__outline {
  height: 15vh;
  border-bottom: 1px solid #ea5514;
}

/* FOOTER */

.footer {
  margin-bottom: 0;
  width: 89.5vw;
  height: 18vh;
  color: #b1afaf;
  background-color: #222;
  position: absolute;
  bottom: -50vh;
  display: flex;
  left: 0;
  z-index: 4;
  padding: 1.5vh 5vw;
}

.footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .useAPI {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vh;
}

.useAPI__detail {
  display: flex;
  flex-direction: row;
}

.footer .GitHub {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
}

.title {
  margin: 0;
  font-size: 2.3vh !important;
  color: #c6bfbf;
  padding: 0.5vh 0;
}
