/* COMMON */
#root {
}

.Main {
  margin: 0;
  padding: 0;
  font-size: 1vh;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  color: #000;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.btn1 {
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style-type: none;
}

header {
  background-color: #ea5514;
  border-bottom: 1px solid #ea5514;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;
  z-index: 2;
  transition: 0.2s;
}

.height {
  background-color: #ea5514;
  border-bottom: 1px solid #ea5514;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  z-index: 2;
  transition: 0.2s;
}

/* Header */

header .header__contents {
  font-size: 4vh;
  width: 60%;
  height: 15vh;
  position: absolute;
  right: 25%;
  display: flex;
  align-items: center;
  font-weight: 700;
  z-index: 4;
  transition: 0.2s;
}

header .hdCharacter {
  font-size: 2vh;
  width: 60%;
  height: 5vh;
  position: absolute;
  right: 25%;
  display: flex;
  align-items: center;
  font-weight: 700;
  z-index: 4;
  margin-top: 0;
  padding-top: 0;
  justify-content: center;
  transition: 0.2s;
}

header .header__contents .header__contents__detail {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .btnOutline {
  position: absolute;
  height: 100%;
}

.hamburger {
  cursor: grab;
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 4vw;
}

.close {
  cursor: grab;
  height: 5vh;
  width: 5vh;
  position: absolute;
}

#menuClBtn {
  width: 6vw;
  cursor: grab;
  height: 6vw;
  padding-top: 5vh;
  padding-left: 4vw;
}

/* MENU */

.project-menu {
  margin-top: 0;
  padding-left: 0;
  height: 100vh;
  width: 26vh;
  background-color: #ea5514;
  z-index: 3;
  position: fixed;
  font-size: 25px;
  line-height: 1.5;
  display: none;
  top: 0;
  text-align: left;
}

.project-menu .menu__contents .menu__ul .menu {
  font-size: 3vh;
}

.project-menu .menu__contents .menu__ul .menu__li {
  padding: 3vh 0;
  font-size: 2vh;
}

.project-menu .menu__contents .menu__ul .menu__li:hover {
  font-weight: 700;
}

.menuBtn__outline {
  height: 15vh;
  border-bottom: 1px solid #ea5514;
}

/* FOOTER */

.footer {
  margin-bottom: 0;
  width: 100vw;
  height: 18vh;
  font-size: 2vh;
  color: #706e68;
  background-color: #222;
  position: absolute;
  bottom: -50vh;
  display: flex;
  left: 0;
  z-index: 4;
}

.footer .useAPI {
  margin-top: 2vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .GitHub {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
