/* COMMON */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1vh;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  background-color: #fafbfc;
  color: #000;
  width: 100%;
  height: 110vh;
}

h1 {
  margin: 0;
  padding: 0;
}

.hdMenu {
  display: flex;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.scrolledHdMenu {
  display: flex;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 2vh;
}

.landingFooter {
  margin-bottom: 0;
  width: 100%;
  height: 18vh;
  font-size: 2vh;
  color: #706e68;
  background-color: #222;
  position: absolute;
  bottom: auto;
  display: flex;
  left: 0;
  z-index: 4;
}

.landingFooter .useAPI {
  margin-top: 2vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingFooter .GitHub {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.ldHdContents {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
}
.ldHdContentsDetail {
  margin-right: 2vw;
}

.ldHdContentsDetail:hover {
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.introduceDiv {
  justify-content: center;
  display: flex;
}

#sbutton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sub {
  margin: 10px;
  font-size: 2vh;
}

#webpTGI{
  position:relative;
  left:20px;
}