#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  height: 40vh;
}

.weather {
  display: flex;
  justify-content: center;
  width: 100%;
}
#temp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* 습도, 바람, 최저, 최고 */
#subtemp {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
}

.minTemp {
  background-color: #c5d3f1fe;
  border-radius: 10px;
  text-align: center;
  width: 130px;
  line-height: 2;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.maxTemp {
  background-color: #fefcda;
  border-radius: 10px;
  text-align: center;
  width: 130px;
  margin-right: 0;
  line-height: 2;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.wind {
  background-color: #ebfae8;
  border-radius: 10px;
  text-align: center;
  width: 130px;
  line-height: 2;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.humidity {
  background-color: #ebf7ff;
  border-radius: 10px;
  text-align: center;
  width: 130px;
  margin-left: 0;
  line-height: 2;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

p {
  margin: 30px;
}
#mise {
  display: flex;
  flex-direction: column;
  margin: 3vh 25px;
  background-color: rgba(202, 219, 238, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.03);
}

#misemain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#miseinfo {
  margin: 1vh 10px;
  text-align: center;
  font-size: 18px;
  color: black;
}

.weatherTitle {
  font-size: 22px;
  display: block;
  height: 4vh;
}

.atStatus {
  background-color: rgba(255, 255, 255, 0.85);
  margin-top: 2vh;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1vh 0;
}

.weather {
  position: absolute;
}
