.bigContainer {
  width: 70vw;
  margin: 0 auto;
  margin-left: 15vw;
  position: absolute;
  margin-top: 25vh;
  top: 5px;
}

.smallContainer {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
}

.title_cal {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="number"] {
  width: 15%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}
select{
  width: 35%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.cal_btn {
  display: block;
  width: 80%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.cal_btn:hover {
  background-color: #585e58;
}

.result {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.grade-table {
  border-collapse: collapse;
  width: 110%;
}

.grade-table th,
.grade-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.grade-table th {
  background-color: #f2f2f2;
}
.firstPart {
  width: 300px;
  padding: 30px;
  border: 2px solid #ddd;
  margin: 3px;
}
.secondPart {
  width: 300px;
  padding: 30px;
  border: 2px solid #ddd;
  margin: 3px;
}
.thirdPart {
  width: 300px;
  padding: 30px;
  border: 2px solid #ddd;
  margin: 3px;
}
.box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.box input[type="checkbox"] {
  margin-right: 5px;
}
.delete_btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 1000;
  font-family: inherit;
  background-color: #f0eeee;
  cursor: pointer;
  transition: border-color 0.25s;
}
